/.vscode
.curseclient
/crash-reports
/emojiful
/journeymap
/gtceu
emi.json
/local
/logs
/mods
/saves
/defaultconfigs
usernamecache.json
usercache.json
TrashSlotSaveState.json
/simplebackups
rhino.local.properties
/resourcepacks
patchouli_data.json
options.txt
observable_announce
minecraftinstance.json
/data
user-prefs.json
config/spark/config.json
config/spark/activity.json
